<div class="container bg-img ion-padding">
  <div class="buttons">
    <ion-button id="morning" fill="outline" (click)="openChat('morning')">
      <div class="button-content">
        <span>PPS-4A</span>
        <img src="../../assets/am.png" alt="PPS-4A">
      </div>
    </ion-button>
    <ion-button id="night" fill="outline" (click)="openChat('night')">
      <div class="button-content">
        <span>PPS-4B</span>
        <img src="../../assets/pm.png" alt="PPS-4B">
      </div>
    </ion-button>
  </div>
</div>