.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .buttons {
    display: inherit;
    flex-direction: column;

    @media (orientation: portrait) {
      span {
        font-size: 12vw;
      }

      img {
        width: 60vw;
        max-width: 35vh;
      }
    }

    @media (orientation: landscape) {
      flex-direction: row;

      span {
        font-size: 12vh;
      }

      img {
        width: 60vh;
        max-width: 35vw;
      }
    }

    ion-button {
      background: rgb(240, 248, 255, 0.6);
      flex: 1;

      .button-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: xxx-large;
        }
      }
    }
  }

  ion-button#morning {
    background-color: #f7d76e80;
    color: #54420a;
  }

  ion-button#night {
    background-color: #1a1f6080;
    color: #8e95fa;
  }
}